<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (trans.length > 0) { %>
            <div class="grid">
                <% for (let transfers of trans) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= transfers.facility %></h1>
                        </header>
                        <div class="card__content">
                            <h2 class="product__price"><%= transfers.imms %></h2>
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= transfers.quantity %></h2>
                            <p class="product__description"><%= transfers.description %></p>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>